<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.project.room.mapper.RoomMapper">
 <select id="selectPostByPostIdUserId" parameterType="map" resultType="com.project.room.domain.Room">
	SELECT
		`id`
		,`userId`
		,`title`
		,`content`
		,`imageUrl`
		,`homeAddress`
		,`location`
		,`price`
		,`createdAt`
		,`updatedAt`
	FROM
		`post`
	WHERE
		`userId` = #{userId}
		AND `id` = #{postId}
 </select>
 
 <insert id="insertRoom" parameterType="map">
 	INSERT INTO `post`
 	(
 		`userId`
		,`title`
		,`content`
		,`imageUrl`
		,`homeAddress`
		,`location`
		,`price`
		,`createdAt`
		,`updatedAt`
 	)
 	VALUES
 	(
 		#{userId}
 		,#{title}
 		,#{content}
 		,#{imageUrl}
 		,#{homeAddress}
 		,#{location}
 		,#{price}
 		,NOW()
 		,NOW()
 	)
 </insert>
 </mapper>